.search_data_box {
  margin: 0 auto;
  margin-bottom: 20px;
  border-spacing: 5px;
  td {
    padding-left: 20px;
    vertical-align:middle
  }
  .label {
    padding: 5px 15px;
    border: 1px solid #aaaaaa;
    white-space: nowrap;
  }
}