.title_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  h2 {
    font-size: 1.5rem;
  }
}

.fav_card_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding-bottom: 20px;
}

.fav_card {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 20px;
  box-shadow:  1px 1px 4px gray;
  border-radius: 5px;
  transition: 0.3s;
  &:hover {
    box-shadow:  3px 3px 7px gray;
    cursor: pointer;
  }
}


.fav_card_inner {
  padding-left: 20px;
  .genre {
    padding-bottom: 10px;
  }
  .name {
    font-size: 1.5rem;
    padding-bottom: 15px;
  }
  .access, .address, .budget {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
    p {
      padding-left: 0.5rem;
      line-height: 1.2rem;
      font-size: 0.9rem;
    }
  }
}