.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 1rem;
  padding: 15px 25px;
  border-radius: 50px;
  background-color: #FFB300;
  h1 {
    font-size: 1.5rem;
    color: white;
  }
}