.app_info {
  display: flex;
  flex-direction: column;
  p {
    text-align: center;
  }
}

.app_description {
  padding: 2rem 0;
  font-size: 1.8rem;
  font-weight: bold;
}

.app_sub_description {
  padding-bottom: 3rem;
  font-size: 1rem;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.update_position {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 1rem;
  .presentPosition {
    font-weight: bold;
  }
  .label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &:before, &:after {
      width: 4rem;
      margin: 0 1rem;
      border-top: 2px solid #000000;
      content: " ";
    }
  }
}